# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://github.com/thieu1995/csv-files/blob/main/data/pandas/drinks.csv).

In [ ]:
drinks = pd.read_csv("https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/drinks.csv")

### Step 3. Assign it to a variable called drinks.

In [ ]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Step 4. Which continent drinks more beer on average?

In [ ]:
# drinks['sum']= drinks.groupby(['continent','beer_servings']).sum()
data = drinks.groupby('continent')
a= data['beer_servings'].agg(np.sum)
mean = a.mean()
print(a)
print(f"Mean is: {mean}")
print(f"Continent drinks more beer on average: {a.index[a.values>mean][0]}")

continent
AF    3258
AS    1630
EU    8720
OC    1435
SA    2101
Name: beer_servings, dtype: int64
Mean is: 3428.8
Continent drinks more beer on average: EU

### Step 5. For each continent print the statistics for wine consumption.

In [ ]:
data['wine_servings'].agg(np.sum)

continent
AF     862
AS     399
EU    6400
OC     570
SA     749
Name: wine_servings, dtype: int64

### Step 6. Print the mean alcohol consumption per continent for every column

In [ ]:
data['total_litres_of_pure_alcohol'].mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcohol consumption per continent for every column

In [ ]:
data['total_litres_of_pure_alcohol'].median()

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [ ]:
a = pd.DataFrame(data['spirit_servings'].agg([np.mean,np.min,np.max]))
a

                 mean  amin  amax
continent
AF          16.339623     0   152
AS          60.840909     0   326
EU         132.555556     0   373
OC          58.437500     0   254
SA         114.750000    25   302