# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars1.csv) and [cars2](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars2.csv).

In [ ]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

   ### Step 3. Assign each to a variable called cars1 and cars2

In [ ]:
print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [ ]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [ ]:
print(cars1.shape[0])
print(cars2.shape[0])

198
200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [ ]:
cars = cars1.append(cars2)
cars

C:\Users\hienv\AppData\Local\Temp\ipykernel_7356\3958165173.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cars = cars1.append(cars2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [ ]:
owners = np.random.randint(15000, high=73001, size=398, dtype='l')
owners

array([15192, 54718, 59354, 49928, 40417, 32138, 17271, 28187, 42477,
       23024, 27661, 39252, 29344, 38037, 21902, 68705, 52462, 22901,
       17836, 62092, 15071, 43268, 29489, 21863, 67908, 52375, 53775,
       43806, 50922, 72032, 64380, 66406, 52033, 51943, 32391, 55541,
       57557, 28395, 65204, 29850, 21092, 52829, 45079, 19253, 41104,
       27757, 61599, 29820, 19923, 32477, 72408, 40341, 63490, 59636,
       44779, 44309, 23991, 57629, 53012, 47459, 32439, 70830, 16669,
       32206, 43521, 23020, 60339, 28707, 34943, 26635, 20208, 56608,
       61565, 54118, 62126, 45678, 46092, 63189, 58737, 55244, 42713,
       56289, 68965, 61237, 30246, 54553, 56377, 57739, 49042, 59248,
       67871, 38248, 58873, 63652, 51249, 36818, 44572, 22793, 63118,
       18080, 51885, 64304, 19274, 32274, 18464, 68278, 42201, 63097,
       68686, 30834, 44833, 60956, 55907, 24365, 32100, 19803, 64298,
       43185, 35354, 35255, 56611, 29702, 49306, 27901, 28899, 20203,
       24750, 38720, 27434, 27489, 40511, 34935, 36667, 27150, 42389,
       29849, 53768, 24547, 55633, 19193, 19425, 48868, 72175, 53267,
       37425, 72549, 36798, 57977, 27521, 25782, 18997, 37066, 16930,
       35001, 52700, 17904, 36411, 39281, 69808, 22265, 44153, 16928,
       51614, 23336, 47339, 60974, 21014, 28784, 38282, 51225, 32488,
       70569, 49536, 41996, 16598, 22187, 68341, 72215, 35426, 42571,
       35663, 44016, 72895, 22872, 54093, 55986, 46636, 72173, 20577,
       61119, 64550, 62100, 69348, 27617, 25939, 71730, 70359, 20313,
       16344, 47940, 64002, 68867, 42096, 44618, 61894, 34185, 65505,
       15894, 23445, 30296, 25182, 40024, 26254, 25489, 45139, 49942,
       56395, 49433, 55537, 48542, 47890, 56880, 25401, 70083, 19871,
       67536, 26908, 36943, 58150, 22796, 43740, 40669, 32773, 38447,
       17064, 40447, 35691, 41654, 72277, 21835, 33610, 19985, 25474,
       43144, 55480, 19181, 55584, 63186, 41871, 67055, 34365, 26934,
       28929, 63516, 52517, 58796, 22336, 43531, 21927, 34687, 72907,
       39332, 62807, 18950, 69436, 57345, 60683, 72156, 28523, 71020,
       29330, 33398, 65049, 22108, 43072, 37647, 29193, 20756, 38932,
       17195, 21087, 51121, 33474, 55612, 65806, 71502, 43304, 45757,
       27604, 37203, 25771, 41834, 33297, 16732, 49356, 23662, 63481,
       70431, 22190, 56728, 66826, 55793, 19879, 18310, 20154, 51886,
       41614, 46972, 70768, 68142, 69587, 46382, 42533, 66464, 17588,
       53833, 64092, 61347, 47951, 65274, 20515, 58734, 62843, 31067,
       52701, 64518, 31848, 66264, 72973, 52946, 15920, 31148, 68066,
       62317, 34744, 48964, 70566, 55708, 54301, 22113, 29329, 25811,
       30254, 15076, 52810, 58777, 31784, 63888, 44617, 37663, 18400,
       42295, 41637, 52817, 68742, 62269, 46190, 65297, 22139, 38352,
       44419, 47056, 28279, 33281, 63764, 32999, 70911, 66220, 62776,
       67724, 69298, 49167, 23219, 49544, 26156, 25932, 50559, 34908,
       33160, 67630, 70763, 64238, 41101, 27326, 35499, 19409, 60151,
       58428, 69452, 46673, 30239, 53379, 37908, 58570, 25684, 55062,
       32269, 61861])

### Step 8. Add the column owners to cars

In [ ]:
cars['owners'] = owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,58570
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,25684
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,55062
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,32269
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,61861