# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [ ]:
chipo = pd.read_table('https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv')

### Step 4. See the first 10 entries

In [ ]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1
chipo.size

23110

In [ ]:
# Solution 2
chipo.shape[0]*chipo.shape[1]

23110

### Step 6. What is the number of columns in the dataset?

In [ ]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [ ]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [ ]:
chipo.loc[:,'item_name':'item_price']

,item_name,choice_description,item_price
0,Chips and Fresh Tomato Salsa,NaN,$2.39
1,Izze,[Clementine],$3.39
2,Nantucket Nectar,[Apple],$3.39
3,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...
4617,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 9. Which was the most-ordered item?

In [ ]:
(chipo['item_name'].value_counts()).index[0]

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
(chipo['item_name'].value_counts()).values[0]

726

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
(chipo['choice_description'].value_counts()).index[0]

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [ ]:
chipo.shape[0]

4622

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [ ]:
chipo['item_price'].dtypes

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.split('$')[1]))

#### Step 13.c. Check the item price type

In [ ]:
chipo['item_price'].dtypes

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:
sum(chipo['item_price'])

34500.16000000046

### Step 15. How many orders were made in the period?

In [ ]:
chipo.shape[0]

4622

### Step 16. What is the average revenue amount per order?

In [18]:
# Solution 1
chipo['item_price'].mean()

7.464335785374297

In [20]:
# Solution 2
sum(chipo['item_price'])/chipo.shape[0]

7.464335785374397

### Step 17. How many different items are sold?

In [23]:
chipo['item_name'].nunique()

50